extends layout

block title
  title= 'INDEX'

block content
  main
    aside
      div(id="searchContainer")
        div(id="fake-search")
          p Wyszukaj...
        input(type="button", value="Szukaj...")
      ul
        each category in categories
          div(class='checkbox')
            li
              input(type="checkbox")
              label #{category.name}
      p Cena:
      div(class="priceContainer")
        input(type="number", placeholder="min")
        input(type="number", placeholder="max")
    section(id='offers')
      each offer in list_offers
        - var img = offer.photo;
        - var url = '/offer/' + offer.id;
        div(class='offer')
          a(href=url)
            img(src=img)
          div(class='offer-desc')
            a(href=url)
              h1 #{offer.name}
            p #{offer.description}
          div(class='offer-right-section')
            p Cena: #{offer.price}zł

