extends layout

block includes
  link(rel='stylesheet' href='/css/styles_offer.css')
  - if(auth_data && auth_data.username == user.username)
      script(src='/js/offer_delete.js',type='module', defer)

block title
  title #{offer.name}

block content
  main
    - var img = offer.photo;
    - var url = '/offer/' + offer.id;
    div(class='offer-details')
      img(src=img)
      div(class='offer-desc')
        h1 #{offer.name}
        p #{offer.description}
        p Kategorie : #{categories}
      
      div(class='offer-right-section')
         p Cena: #{offer.price}zł
    div(class="user-details")
      h3 Informacje o sprzedającym:
      p użytkownik: #{user.username}
      p numer telefonu: #{user.phone_number}
      p email: #{user.email}
      - if(auth_data && auth_data.username == user.username)
          - var editUrl = '/offer/' + offer.id + '/edit';
          a(href=editUrl)
            p Edytuj...
          a(href='javascript:void(0);')
            p(id="offer-delete-button") Usuń...
      - else
          a(href='/')
            p(id="send-message-button") Wyślij wiadomość...
